.button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #888;
  width: 40%;
  margin: 15px auto 0;
  cursor: pointer;
}

.bg_green {
  background-color: #7cff7c;
}

.bg_blue {
  background-color: #7e7cff;
}

.bg_purple {
  background-color: #ff7cb3;
}
